header {
  position: fixed;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding-top: 80px;
}

#menu-icon {
  font-size: 30px;
}

nav {
  display: none;
  z-index: 10;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 48px;
  font-size: 15px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.5);
}

ul {
  background-color: dodgerblue;
}

li {
  padding: 20px;
}

img {
  width: 100%;
}